// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

header {
    .carousel-item {
        height: calc(100vh - 93px);
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

#nearMarker {
    background-image: url('https://emoji.slack-edge.com/T91QPE3BP/carostudente/088bd155e9b50a81.gif');
    background-size: cover;
    width: 55px;
    height: 55px;
}
